<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Server Example</title>
</head>
<body>
    <article>
        <section>
            <h3>Lunch Menu</h3>
            <p>Please select what you want for lunch</p>
            <ul>
                <li>Salad</li>
                <li>Fish</li>
                <li>Aubergine</li>
                <li>Wraps</li>
            </ul>
            <aside>
                <!-- flask has a micro-syntax for handling arguments -->
                {% if desert != None %}
                    <p>for desert we have {{desert}}</p>
                {% else %}
                    <P>There is no desert today</P>
                {% endif %}
            </aside>
        </section>
    </article>
</body>
</html>